<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0732e72a8e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISDB - Register</title>
    <style>
		body {
        font-family: "Roboto Slab", serif;
        color: #eff1ea;
        background-color: #2b3237;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <i style="margin-right: 10px;font-size:large" class="fas fa-hamburger"></i>
          <a class="navbar-brand" href="/">ISDB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

          </div>
        </div>
      </nav>

<div id="homepage-container">
<h1 style="font-size: 50px;">ISDB Registration</h1>
<h1 style="font-family: 'Playball', cursive;font-size: 50px;">It's almost sandwich time...</h1>

  <form th:action=@{/register} th:method="POST" id="login-box">
    <div class="formInput">
      <label for="user">Username:</label>
      <input id="user" type="text" name="username" placeholder="Username" /><br />
    </div>
    <div class="formInput">
      <label for="email">Email:</label>
      <input id="email" type="text" name="email" placeholder="ham@sandwich.com" /><br />
    </div>
    <div class="formInput">
      <label for="pass">Password:</label>
      <input id="pass" type="password" name="password" placeholder="Password" /><br />
    </div>
    <input id="loginButton" type="submit" value="Sign Up" />
  </form>
</div>

  </body>
</html>
